@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");


#animated video {
    width: 100vw;
    height: auto;
    position: sticky;
    z-index: -1;


}

#animated1 video {
  width: 100vw;
    height: auto;
    position: absolute;
    z-index: -1;


}

*{
	margin: 0;
	padding: 0;

}



body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;

  }

p {
  margin: 0;
}





html,
body {
  height: 100%;
}

body {
  margin: 0;


}

.center img {
  position: absolute;
  margin-top: 100%;

}


/* Header */

#header {
    background: #000;
    padding: 4rem 0 2rem 0;
    
}

#header a {
    color: #949494;
    text-decoration: none;
    font-family: FontAwesome;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 0;
    left: -40%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    font-size: 3em;
    
}

/* Containers */



/* Footer */

#footer {
    padding: 0 0 2rem 0;
    background: rgb(0, 0, 0);
    text-align: center;

}

    #footer a {
        color: rgba(0, 0, 0, 0.5);
    }

        #footer a:hover {
            color: #FFF;
        }

    #footer .copyright {
        color: #bbb;
        font-size: 0.9rem;
        margin: 0 0 2rem 0;
        padding: 0;
        text-align: center;
    }

@media screen and (max-width: 1600px) {

    #footer {
        padding: 3rem 0 1rem 0;
    }
}

/*//////////////// ABOUT /////////////*/

.about-background {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  font-size: 18px;
  margin-top: 11%;
  color: #FFF;
  text-shadow: 2px 2px 5px black;
  position: absolute;
}

.headings{
  display: flex;
  position: absolute;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 5px black;
  width: 100%;
  justify-content: center;
}

.sub-heading{
  font-size: 16px;
  margin-top: 14%;
  color: #FFF;
  text-shadow: 2px 2px 5px black;
  position: absolute;
}

.about-paragraph{
  font-size: 22px;
  line-height: 2em;
  display: inline-block;
  position: absolute;
  width: 850px;
  margin-top: 20%;
  padding-bottom: 5%;
  left: 10%;
  color: #FFF;
  text-shadow: 2px 2px 5px black;
}

.info-box{
  display: inline-block;
  right: 10%;
  margin-top: 11%;
  height: 250px;
  width: 350px;
  background-color: rgba(37, 99, 214, 0.329);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 5px black;
}
.info-box h2{
  font-size: 30px;
}
.info-box p{
  padding-top: 20px;
  font-size: 25px;
  line-height: 2em;
}

#about-image{
  position: absolute;
  margin-top: 31%;
  text-align: right;
  right: 12%;
  
}

@media only screen and (max-width: 450px){
  .about-background {
    /* Full height */
    height: 150%;

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .header{
    margin-top: 90%;
    font-size: 15px;
  }

  .sub-heading{
    margin-top: 100%;
    font-size: 13px;
  }

  .about-paragraph{
    font-size: 19px;
    width: 90%;
    top: 45%;
  }

  .info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
    top: 85%;
  }

  .info-box h2{
    font-size: 25px;
  }
  .info-box p{
    padding-top: 10px;
    font-size: 20px;
  }

  #about-image{
    top: 105%;
    align-items: center;
    width: 1400px;
  }
}
